body{
    background-color: #F7F5EE;
    max-width: 1440px;
}
h1{
    font-family: 'Braah One', sans-serif;
    color: #DB9ECF;
}
h2{
    font-family: 'Braah One', sans-serif;
    color: #DB9ECF;
    
}
p {
    font-family:'Cantarell', sans-serif;
}
label{
    font-family:'Cantarell', sans-serif;
}

button{
    font-family:'Cantarell', sans-serif;
    font-size: 15px;
}
.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

th.cursor-pointer:hover {
    background-color: #567276;
    transition: background-color 0.2s;
}

    #carousel img {
        min-width: 100%;
    }

